#entire-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#second-start-msg {
  width: 50%;
  height: 81px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
}

#third-start-msg {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

#to-next-page {
  margin-top: 24px;
  width: 384px;
  height: 60px;
  background: rgba(41, 117, 61, 1);
  border-radius: 16px;
  border-width: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
