#sign-in-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
#profile-h1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  /* height: 100px; */
  margin-block-start: 0;
}

#profile-h2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  height: 257px;
  margin-block-start: 0;
}
#logout {
  margin-top: 54px;
  width: 384px;
  height: 60px;
  background: rgba(41, 117, 61, 1);
  border-radius: 16px;
  border-width: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

#sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  width: 384px;
  height: auto;
}

#input-texts {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 20px 0;
}

#email-input,
#pw-input {
  background: #c4c4c4;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-indent: 18px;
  border-width: 0;
  cursor: pointer;

  color: white;
}

#email-input::placeholder,
#pw-input::placeholder {
  color: #000000;
}

#sign-in-submit {
  margin-top: 24px;
  width: 100%;
  height: 60px;
  background: rgba(41, 117, 61, 1);
  border-radius: 16px;
  border-width: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

#kakao-login {
  margin-top: 50px;
  width: 384px;
  height: 60px;
  background-color: #ffc107;
  border-width: 0;
  border-radius: 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

#create-acc {
  width: 344px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: 0.7s ease;
  color: #000000;
}

#create-acc:hover {
  color: #ffc107;
}
