#sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  width: 24%;
  height: auto;
}

#input-texts {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 20px 0;
}

#input-text {
  margin-block-end: 0;
}

#text-input {
  width: 60%;
  height: 20px;
}

#sign-in-submit {
  margin-top: 20px;
  width: 100%;
  height: 35px;
}

#kakao-login {
  margin-top: 20px;
  width: 25%;
  height: 35px;
  background-color: yellow;
  border: none;
}
