#road-entire {
  display: flex;
  width: 100%;
  height: 150vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
}

#road-container {
  z-index: 7;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  width: 1224px;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#roads-info {
  margin-top: 136px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 44px;
  font-size: 36px;
}

#new-road-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  align-items: center;
  width: 384px;
  height: 150px;
  margin-right: 20px;
  border-radius: 16px;
  transition: 0.7s ease-in;
  background-color: white;
}
#new-road-box:hover {
  background-color: #ffc107;
}

#road-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  align-items: center;
  width: 384px;
  height: 150px;
  margin-right: 20px;
  border-radius: 16px;
  transition: 0.7s ease-in;
  background-color: rgba(196, 196, 196, 1);
}

#road-watch {
  text-decoration: none;
  width: 100%;
  height: 40%;
  vertical-align: middle;
  text-align: center;
  color: black;
  z-index: 2;
}

#road-edit {
  display: flex;
  width: 400px;
  height: 173px;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  /* margin-top: 67px;
  margin-left: 12%; */
}

#road-edit-img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 5px 5px;
  border-width: 0px;
  border-radius: 20px;
}
#road-edit-img:hover {
  background-color: white;
}

#road-item-name {
  margin-bottom: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-block-start: 12px;
  margin-left: 16px;
}
