#container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: white;
}

#about-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding-left: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding-block-start: 137px;
  padding-block-end: 65px;
  background-color: #c3c3c3;
}

.introduction {
  display: inline-flex;
  background-color: #c3c3c3;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 479px;
  justify-content: flex-start;
  align-items: center;
}

.team-vision {
  font-weight: bold;
}

.team-name {
  width: 792px;
  height: 100px;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;
  margin: 0;
  text-align: center;

  color: #232323;
}

.team-vision-mean {
  text-align: center;
  width: 55%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.logo-image {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 232px;
  justify-content: center;
  align-items: center;
  /* margin-top: 480px; */
  background-color: white;
}

.logo-image > img {
  width: 180px;
  height: 106px;
}

img {
  width: auto;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.problem-tit {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 403px;
  /* margin-top: 580px; */
  justify-content: center;
  align-items: center;
}

.problem-tit .prob-tit {
  width: 740px;
  height: 220px;
  position: absolute;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.problem-tit .prob-pic {
  width: 100%;
  height: 100%;
}

.problem-body {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 340px;
  /* margin-top: 580px; */
  justify-content: center;
  align-items: center;
  background-color: white;
}

pre {
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-family: "NanumSquareRoundL", sans-serif;
  text-decoration: none;
  width: 792px;
  /* word-wrap: normal; */
  white-space: normal;
}

.solution-tit {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 372px;
  /* margin-top: 580px; */
  justify-content: center;
  align-items: center;
}

.sol-tit {
  /* width: 219px;
  height: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; */
  width: 740px;
  height: 220px;
  position: absolute;
  font-style: normal;
  font-weight: bolder;
  font-size: 72px;
  line-height: 82px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.solution-tit .sol-pic {
  width: 100%;
  height: 100%;
}

.solution-body {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 348px;
  justify-content: center; /*around로 바꿔야 해*/
  align-items: center;
  background-color: white;
}

.explaining-wrap {
  text-align: left;
}

.explaining-wrap > pre {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

#ux-ui {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#ux-tit {
  /* display: flex; */
  width: 219px;
  height: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}

#radius-box {
  /* display: flex; */
  background: #29753d;
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 16px;
}

#app-ui {
  /* display: flex; */
  width: 1172px;
  height: 770px;
  background-color: #232323;
  margin: 120px 0;
}
